<img src="/images/rails_logo.jpeg" alt="rails_logo"/>
<br/>
<br/>
<h1>What is Ruby on Rails?</h1>

<br/>

<p>Ruby on Rails, or Rails, is a server-side web application framework written in Ruby under the MIT License. Rails is a model–view–controller framework, providing default structures for a database, a web service, and web pages.</p>

<br/>

<h1>History of Ruby on Rails</h1>

<br/>

<p>Ruby on Rails was originally extraceted from work done on Basecamp, a web-based project management tool, by David Heinemeier Hansson. He released the framework as open-source in 2004, but did not initially share commit rights until 2005. The framework gained notoriety when Apple decide to ship it with Mac OS X v10.5 in 2007. Since its release it has seen a large amount of upgrades and improvements the frameworks functionality. Introducing gems, templates, engines, Rack and nested model forms in 2009. This added functionality made Rails an intuitive and user friendly framework, that can create beautiful functional webpages quickly.</p>

<br/>

<h1>Why did we choose Rails?</h1>

<p>Most sites that users are interacting with implement a simple CRUD(Create, Read, Update, and Destroy) structure. Sites like Twitter, Facebook, Instagram and Reddit, follow this structure. Users create a post, read other posts, update tehir status, and delete posts. Rails' functionality is invaluable in creating these types of sites(as you'll see in our tutorial). With simple command line executions we are able to create whole CRUD structures. Rails automatically generates the files, routes, and functions necessary to make these types of sites quickly and easily.</p>


<br/>

<p>For our site, we wanted to create a CRUD application that allows users to seek out new music releases, get more information, update the reviews with their opinions or add new songs to the site, and to delete their previous reviews. With Rails we are able to create a beautiful and effective app in this style, easily.</p>

<br/>
<br/>

<h1 id='setup'>How to setup Rails</h1>

<br/>

<p>Unfortunately, Rails was originally developed to be used with Mac's. So Windows installation is a little more difficult than on Mac.</p>

<br/>

<h3>What you will need before installing Ruby on Rails</h3>

<br/>

<ul>
	<li><a href="https://nodejs.org/en/download/">Node.js</a></li>
	<li><a href="https://classic.yarnpkg.com/en/docs/install#windows-stable">Yarn</a></li>
	<li><a href="https://git-scm.com/downloads">Git Bash</a></li>
</ul>

<br/>

<p>*Install of these with the default settings*</p>


<h3>Now we can use the Rails installer</h3>

<p>Rails installer is great for getting us necessary software we need to use Ruby on Rails(Bundler Sqlite, TinyTDS, etc.). However, the versions of Ruby and Rails that come with this installer are out of date, so we will have to update them later.</p>


<ul>
	<li><a href="http://railsinstaller.org/en">Rails Installer</a></li>
</ul>


<p>Download and install the package containing Ruby version 2.3. Following all of the default prompts.</p>
